<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>Колонизация Марса</title>
</head>
<body>
<h1>Миссия Колонизация Марса</h1>
<h4 class="text-dark text-opacity-75">И на Марсе будут яблони цвести!</h4>
<h2 class="text-left">Список профессий</h2>
{% if list == "ol" %}
<ol class="text-left" style="list-style-position: inside">
    {% for item in professions %}
    <li>{{ item }}</li>
    {% endfor %}
</ol>
{% elif list == "ul" %}
<ul class="text-left" style="list-style-position: inside">
    {% for item in professions %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
{% else %}
<h3 class="text-danger fw-bold text-center">Неверный параметр</h3>
{% endif %}
</body>
</html>